<%@ tag language="java" pageEncoding="UTF-8"%>

<%@attribute name="valorNecessidade" required="true"%>


<script>
$('#idCheckboxNecessidade').ready(function (){
	
	var valorNecessidade = "${valorNecessidade}";
	
	('#idCheckboxNecessidade').checked = valorNecessidade ? true : false;
	
})

function toggleDisableInputNecessidade(){
// 	var checkboxNecessidade = document.getElementeById('idCheckboxNecessidade');
	var inputNecessidade = document.getElementById('idNecessidade');
	var status = inputNecessidade.disabled;
	
	inputNecessidade.disabled = !status;
	
}


</script>