/* theme.css */
/* Classes do tema */
body {
    background: #618d79; 
    background: -webkit-linear-gradient(right, #618d79, #555);
    background: -moz-linear-gradient(right, #618d79, #555);
    background: -o-linear-gradient(right, #618d79, #555);
    background: linear-gradient(to left, #618d79, #555);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
}
/* Classes de utilidade */
.padding-5 {
    padding: 5px;
}
/* CSS da navbar */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar {
    margin-bottom: 20px;
}
.brand_image{
    width: 160px;
}